[Unit]
Description=Load Secrets for docker-compose using Podman on docker.socket
Wants=network-online.target
After=network-online.target
ConditionPathExists=/etc/local/environment/secrets_import.env

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c 'set -eo pipefail; \
    . /etc/local/environment/secrets_import.env; \
    '

[Install]
WantedBy=multi-user.target
