[Unit]
Description=Load Secrets for docker-compose using Podman on docker.socket
Wants=podman.service
After=podman.service
ConditionPathExists=/etc/local/environment/%N.env

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/local/environment/%N.env
ExecStart=/usr/bin/bash -c 'set -eo pipefail'

[Install]
WantedBy=multi-user.target
