[Unit]
Description=Load Podman TLS Secrets
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/var/local/flags/%N.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/podman secret create root_ca.crt /etc/ssl/certs/root_ca.crt
ExecStart=/usr/bin/podman secret create server.crt /etc/ssl/certs/server.crt
ExecStart=/usr/bin/podman secret create server.key /etc/ssl/private/server.key
ExecStart=/bin/touch /var/local/flags/%N.stamp

[Install]
WantedBy=multi-user.target
