[Unit]
Description=Load Podman TLS Secrets
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c 'set -eo pipefail; \
    for file in \
        /etc/ssl/certs/root_ca.crt /etc/ssl/certs/server.crt /etc/ssl/private/server.key; do \
        secret_name="$(basename $file)"; \
        flag_file="/var/local/flags/${secret_name}.stamp"; \
        if test "$file" -nt "$flag_file"; then \
            if podman secret exists "$secret_name"; then \
                podman secret rm "$secret_name"; \
            fi; \
            podman secret create "$secret_name" "$file"; \
            touch "$flag_file"; \
        fi; \
    done'

[Install]
WantedBy=multi-user.target
