[Unit]
Description=Build Container for %I
Wants=network-online.target containers-build@%i.path
After=network-online.target
ConditionPathExists=/etc/containers/build/%i/Containerfile

[Service]
Type=oneshot
SyslogIdentifier=%N
Environment=PODMAN_BUILD_OPTIONS=
WorkingDirectory=/etc/containers/build/%i
ExecStart=podman build $PODMAN_BUILD_OPTIONS --tag localhost/%i:latest .

[Install]
WantedBy=multi-user.target
