[Unit]
Description=Load Podman Container Secrets
Wants=network-online.target
After=network-online.target
ConditionPathExists=/var/local/environment/secrets_import.env

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c 'set -eo pipefail; \
    . /var/local/environment/secrets_import.env; \
    for secret_file in $FILES; do \
        secret_name="$(basename $secret_file)"; \
        flag_file="/var/local/flags/$secret_name.stamp"; \
        if test "$secret_file" -nt "$flag_file"; then \
            if podman secret exists "$secret_name"; then \
                podman secret rm "$secret_name"; \
            fi; \
            podman secret create "$secret_name" "$secret_file"; \
            touch "$flag_file"; \
        fi; \
    done'

[Install]
WantedBy=multi-user.target
