[Unit]
Description=Update Coreos Configuration by applying (transpiled butane) saltstack config
Wants=containers-build@saltstack.service boot-complete.target
After=containers-build@saltstack.service boot-complete.target
ConditionPathExists=/run/user/1000/coreos-update-config/minion

[Service]
Type=oneshot
ExecStart=podman run --privileged \
    -v /etc:/etc -v /var:/var -v /run:/run -v /var/home:/home -v /var/roothome:/root \
    localhost/saltstack:latest \
    /usr/local/bin/salt-call -c /run/user/1000/coreos-update-config \
    state.highstate mock=true > /dev/null

ExecStart=podman run --privileged \
    -v /etc:/etc -v /var:/var -v /run:/run -v /var/home:/home -v /var/roothome:/root \
    localhost/saltstack:latest \
    /usr/local/bin/salt-call -c /run/user/1000/coreos-update-config \
    state.highstate

ExecStart=rm -rf /run/user/1000/coreos-update-config

# XXX have no [Install] section, because this service is only called from external
