[Unit]
Description=Build nspawn image %I using mkosi
Wants=container-build@%N.service
After=container-build@%N.service
ConditionPathExists=/etc/mkosi/%i/mkosi.conf

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/etc/mkosi/%i
ExecStart=/usr/bin/podman run --rm --log-driver=none \
    -v /etc/mkosi:/etc/mkosi -v /var/lib/mkosi:/var/lib/mkosi -v /var/cache/mkosi:/var/cache/mkosi \
    localhost/%N:latest \
    /usr/bin/bash -c 'set -eo pipefail; set -x; \
    if test ! -d "/var/lib/mkosi/%i"; then \
        echo "building machine %i"; \
        org_name=$(echo "%i" | tr "-" "~");  \
        mkosi -C /etc/mkosi/%i -O /var/lib/mkosi --cache=/var/cache/mkosi build; \
        if test -d /var/lib/mkosi/$org_name; then \
            if test -e /var/lib/mkosi/%i; then rm -r /var/lib/mkosi/%i; fi; \
            mv /var/lib/mkosi/$org_name /var/lib/mkosi/%i; \
        fi; \
    fi'
