[Unit]
Description=Provision Nspawn Image %I
Wants=network-online.target systemd-networkd-wait-online.service
After=network-online.target systemd-networkd-wait-online.service
# also wait for systemd-networkd-wait-online, which does the resident bridge setup
ConditionPathExists=/etc/systemd/nspawn/%i.nspawn
ConditionPathExists=/etc/nspawn/environment/%i.env
ConditionPathExists=/etc/nspawn/build/%i/nspawn.provision.sh

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/nspawn/environment/%i.env
# Environment NSPAWN_OSNAME must be set
# Environment NSPAWN_PROVISION should be set and will be pasted to STDIN of provision script

# firstboot defaults, picked up by systemd.firstboot can be overwritten via drop.in
SetCredential=firstboot.locale:en_US.UTF-8
SetCredential=firstboot.keymap:us
SetCredential=firstboot.timezone:UTC

# nspawn.provision.sh and additional files from build/%i will be copied to /tmp of machine
ExecStart=/usr/bin/bash -c 'set -eo pipefail; set -x; \
    if test ! -d "/var/lib/machines/%i"; then \
      if test ! -d "/var/lib/mkosi/$NSPAWN_OSNAME"; then \
        systemctl start --wait nspawn-mkosi@$NSPAWN_OSNAME; \
        if test ! -d "/var/lib/mkosi/$NSPAWN_OSNAME"; then \
          echo "Error: base image dependency $NSPAWN_OSNAME not found"; \
          exit 1; \
        fi; \
      fi; \
      echo "Import machine %i from $NSPAWN_OSNAME"; \
      cp -a /var/lib/mkosi/$NSPAWN_OSNAME/image/ /var/lib/machines/%i; \
      printf "Provision machine %i"; \
      systemd-nspawn --boot --link-journal=try-guest --network-veth --network-zone=nspawn \
          -U --settings=override --machine=%i; \
      while ! machinectl list -a --no-legend | grep -q ^%i; do echo -n "."; sleep 1; done; \
      while ! machinectl show %i | grep -q State=running; do echo -n "+"; sleep 1; done; \
      sleep 1; echo " is running"; \
      echo "copy additional files to /tmp of machine"; \
      for f in /etc/nspawn/build/%i/*; do machinectl copy-to %i "$f" /tmp/; done; \
      echo "execute nspawn.provision.sh script in machine with stdin pipe"; \
      echo "${NSPAWN_PROVISION}" | machinectl shell %i /bin/sh -c \
          "/bin/chmod +x /tmp/nspawn.provision.sh; /tmp/nspawn.provision.sh --yes"; \
      printf "provision done, power off machine %i "; \
      machinectl poweroff %i; \
      while machinectl list -a --no-legend | grep -q ^%i; do echo -n "."; sleep 1; done; \
      echo " is stopped"; \
      touch /etc/local/flags/provision-%i.stamp; \
    else \
      echo "Machine %i already provisioned, skipping provision"; \
    fi'

[Install]
WantedBy=multi-user.target
