[Unit]
Description=%I - Debian 12 (Bookworm) based Nspawn Image
Wants=network-online.target
After=network-online.target
ConditionPathExists=/var/local/flags/rpm-ostree-install-extensions.stamp
ConditionPathExists=/etc/nspawn/mkosi/debian-12/mkosi.default
ConditionPathExists=/etc/systemd/nspawn/%I.nspawn

[Service]
EnvironmentFile=/etc/nspawn/environment/%I.env

# build and provision step
# env var named NSPAWN_PROVISION will be pasted to STDIN of provision script
ExecStartPre=/usr/bin/bash -c 'set -eo pipefail; \
    if test ! -d "/var/lib/machines/%I"; then \
      echo "building machine %I"; \
      mkosi -C /etc/nspawn/mkosi/debian-12 \
          -O "/var/lib/machines/%I" --cache=/var/cache/mkosi build; \
      if test -d /etc/nspawn/build/%I; then \
          printf "%s\\n" "${NSPAWN_PROVISION}" | \
              /var/local/bin/nspawn-provision.sh "%I"; \
      fi; \
    fi'

# normal nspawn start
ExecStart=systemd-nspawn --quiet --machine=%I --directory=/var/lib/machines/%I

# wait until machine is ready
ExecStartPost=/usr/bin/bash -c '\
    printf "waiting for machine %I to be started "; \
    while ! machinectl list -a --no-legend | grep -q ^%I; do echo -n "."; sleep 1; done; \
    while ! machinectl show %I | grep -q State=running; do echo -n "+"; sleep 1; done; \
    sleep 1; echo " is running"'

# call poweroff on service stop
ExecStop=machinectl poweroff %I


[Install]
WantedBy=multi-user.target
