[Unit]
Description=Layer Extensions with rpm-ostree
Wants=network-online.target
After=network-online.target
Before=zincati.service
ConditionPathExists=/var/local/environment/rpm-ostree-install.env

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/var/local/environment/rpm-ostree-install.env
ExecStart=/usr/bin/rpm-ostree install --assumeyes --idempotent --allow-inactive --reboot ${RPM_OSTREE_INSTALL}
ExecStart=/usr/bin/touch /var/local/flags/%N.stamp

[Install]
WantedBy=multi-user.target
