[Unit]
Description=Layer Extensions with rpm-ostree
Wants=network-online.target
After=network-online.target
Before=zincati.service
ConditionPathExists=/var/local/environment/%N.env

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/var/local/environment/%N.env
ExecStart=rpm-ostree install --assumeyes --idempotent --allow-inactive --reboot ${RPM_OSTREE_INSTALL}
ExecStart=touch /var/local/flags/%N.stamp

[Install]
WantedBy=multi-user.target
