[Unit]
Description=/var/local installed Extensions - only use if no ostree version is available
Wants=network-online.target
After=network-online.target
Before=zincati.service

[Service]
Type=oneshot
RemainAfterExit=yes
# template dropin needs: VERSION, FILE_URL, LOCAL_FILE and either HASH_URL or SHA256SUM
Environment=VERSION=
Environment=FILE_URL=
Environment=LOCAL_FILE=
Environment=HASH_URL=
Environment=SHA256SUM=
Environment=FLAG_FILE="/var/local/flags/%N.stamp"

ExecStart=/usr/bin/bash -c 'set -eo pipefail; \
    BASE_FILE="$(basename $LOCAL_FILE)"; \
    VER_INUSE="$(if test -e "$FLAG_FILE"; then cat "$FLAG_FILE"; else echo "0"; fi)" \
    VER_GT="$(printf "%s\n%s\n" "$VERSION" "$VER_INUSE" | sort -Vr | head -n1)"; \
    if test "$VER_INUSE" != "$VERSION" -o ! -e "$LOCAL_FILE"; then \
        if test "$VER_GT" = "$VERSION" -o ! -e "$LOCAL_FILE"; then \
            TEMP_DIR="$(mktemp -d)" && trap "rm -rf $TEMP_DIR" EXIT; \
            curl -sSL -o "$TEMP_DIR/$BASE_FILE" "$FILE_URL"; \
            if test "$HASH_URL" != ""; then \
                curl -sSL -o "$TEMP_DIR/${BASE_FILE}.hash" "$HASH_URL"; \
                pushd "$TEMP_DIR" && \
                    cat "$TEMP_DIR/${BASE_FILE}.hash" | \
                        sed -r "s/^([^ ]+) +(.+)$/\1 *${BASE_FILE}/g" | \
                        sha256sum -c; \
                popd; \
            elif test "$SHA256SUM" != ""; then \
                pushd "$TEMP_DIR" && printf "%s *%s" "$SHA256SUM" "$BASE_FILE" | sha256sum -c; popd; \
            else \
                echo "ERROR: either SHA256SUM or HASH_URL must be set"; exit 1; \
            fi; \
        fi; \
        mv "$TEMP_DIR/$BASE_FILE" "$LOCAL_FILE"; \
        chmod +x "$LOCAL_FILE"; \
        echo "$VERSION" > "$FLAG_FILE"; \
    fi'

[Install]
WantedBy=multi-user.target
