[Unit]
Description=Container API Proxy (unix socket to tcp port) based on Haproxy
Wants=container-build@%N.service container-secrets.service podman.service
After=container-build@%N.service container-secrets.service podman.service
# upstream socket: a running docker compatible API Server under API_SOCKET
# downstream tcp: resident:API_PORT

[Container]
Image=localhost/%N:latest

# EnvironmentFile=-/etc/containers/environment/%N.env
# Enable API_CONTAINERS, so traefik can get labels for frontend router configuration
Environment=API_CONTAINERS=1
Environment=API_PORT=2375
# avoid legacy docker.sock
Environment=API_SOCKET=/run/podman/podman.sock

# disable selinux labels for accessing podman.sock
PodmanArgs=--security-opt label=disable
Volume=/run/podman/podman.sock:/run/podman/podman.sock
Volume=/etc/containers/systemd/%N.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro

# publish filtered api: [hostip:]hostPort:containerPort
{% macro cidr2ip(cidr) %}{{ cidr|regex_replace ('([^/]+)/.+', '\\1') }}{% endmacro %}
PublishPort={{ cidr2ip(RESIDENT_CIDR) }}:2375:2375

[Service]
Restart=always

[Install]
WantedBy=multi-user.target

