[Unit]
Description=Container API Proxy (unix socket to tcp port) based on Haproxy \
    upstream socket: a running docker compatible API Server under API_SOCKET \
    downstream tcp: self.internal:API_PORT

After=container-build@%N.service container-secrets.service podman.service
Wants=container-build@%N.service container-secrets.service podman.service
ConditionPathExists=/etc/containers/systemd/%N.cfg

[Service]
# environment loaded here is available in systemd-quadlet scope
EnvironmentFile=-/etc/containers/environment/%N-systemd.env
Restart=on-failure

[Container]
Image=localhost/%N:latest
# If an image is updated in local storage, Podman restarts the systemd unit
AutoUpdate=local

# Enable CONTAINERS, so traefik can get labels for frontend router configuration
Environment=CONTAINERS=1
Environment=API_PORT=2375
# avoid legacy docker.sock
Environment=API_SOCKET=/run/podman/podman.sock
# Environment=LOG_LEVEL=debug
# environment loaded here is available for container scope, mind quadlet bug "=-"
# EnvironmentFile=-/etc/containers/environment/%N.env

# disable selinux labels for accessing podman.sock
PodmanArgs=--security-opt label=disable
Volume=/run/podman/podman.sock:/run/podman/podman.sock
Volume=/etc/containers/systemd/%N.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro

# publish filtered api to [hostip:]hostPort:containerPort
{% macro cidr2ip(cidr) %}{{ cidr|regex_replace ('([^/]+)/.+', '\\1') }}{% endmacro %}
PublishPort={{ cidr2ip(INTERNAL_CIDR) }}:2375:2375

[Install]
WantedBy=multi-user.target
