[Unit]
Description=Unbound DNS-Resolver
Wants=container-build@%N.service
After=container-build@%N.service

[Container]
Image=localhost/%N:latest
EnvironmentFile-=/etc/containers/environment/%N.env

Volume=dnsresolver.volume:/opt/unbound/var/lib/unbound
Volume=/etc/containers/systemd/%N.conf:/opt/unbound/etc/unbound/unbound.conf:ro
Volume=/etc/containers/systemd/%N_ext.conf:/opt/unbound/etc/unbound/unbound_ext.conf:ro
Volume=/etc/containers/systemd/%N_srv.conf:/opt/unbound/etc/unbound/unbound_srv.conf:ro

[Service]
Restart=always

[Install]
WantedBy=multi-user.target

