[Unit]
Description=Unbound DNS-Resolver
Wants=container-build@%N.service
After=container-build@%N.service

[Container]
Image=localhost/%N:latest
# EnvironmentFile=/etc/containers/environment/%N.env

Secret=root_ca.crt,mode=0640
Secret=root_bundle.crt,mode=0640
# Also make server key available so DoT is possible
Secret=server.crt,mode=0640
Secret=server.key,mode=0640

Volume=dnsresolver.volume:/var/lib/unbound
Volume=/etc/containers/systemd/%N.conf:/etc/unbound/unbound.conf:ro
Volume=/etc/containers/systemd/%N_ext.conf:/etc/unbound/unbound_ext.conf:ro
Volume=/etc/containers/systemd/%N_srv.conf:/etc/unbound/unbound_srv.conf:ro

# publish dns to self.internal:53/tcp,udp:853/tcp
{% macro cidr2ip(cidr) %}{{ cidr|regex_replace ('([^/]+)/.+', '\\1') }}{% endmacro %}
PublishPort={{ cidr2ip(INTERNAL_CIDR) }}:53:53/tcp
PublishPort={{ cidr2ip(INTERNAL_CIDR) }}:53:53/udp
PublishPort={{ cidr2ip(INTERNAL_CIDR) }}:853:853/tcp

[Service]
Restart=always

[Install]
WantedBy=multi-user.target

