[Unit]
Description=Knot DNS Server (internal)
After=container-build@knot.service container-secrets.service podman.service
Wants=container-build@knot.service container-secrets.service podman.service

[Service]
# environment loaded here is available in systemd-quadlet scope
EnvironmentFile=-/etc/containers/environment/knot-internal-systemd.env
Restart=on-failure

[Container]
Image=localhost/knot:latest
# If an image is updated in local storage, Podman restarts the systemd unit
AutoUpdate=local
ContainerName=knot-internal
# Instance-specific volume name
Volume=knot-internal-data:/var/lib/knot:rw
# Mount instance-specific config and zone files
Volume=/etc/local/knot/internal:/etc/knot:ro
# Run as knot user inside the container
User=knot
Group=knot
# Expose port 53:udp/tcp on internal_cidr+1
PublishPort={{ INTERNAL_CIDR|cidr2ip(1) }}:53:53/udp
PublishPort={{ INTERNAL_CIDR|cidr2ip(1) }}:53:53/udp

Exec=/usr/sbin/knotd

[Install]
WantedBy=multi-user.target
