[Unit]
Description=Container API Proxy (unix socket to tcp port) based on Haproxy
Wants=containers-secrets.service containers-build@%N.service
After=containers-secrets.service containers-build@%N.service

[Container]
Image=localhost/%N:latest

# EnvironmentFile=-/etc/containers/environment/%N.env
# XXX Enable API_CONTAINERS, so traefik can get labels for frontend router configuration
Environment=API_CONTAINERS=1
Environment=API_PORT=2375
# avoid legacy docker.sock
Environment=API_SOCKET=/run/podman/podman.sock

# XXX disable selinux labels for accessing podman.sock
PodmanArgs=--security-opt label=disable
Volume=/run/podman/podman.sock:/run/podman/podman.sock
Volume=/etc/containers/systemd/%N.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro

# publish filtered api
# [hostip:]hostPort:containerPort
# FIXME replace hardcoded ip of podman host bridge ip with something dynamic
PublishPort=10.88.0.1:2375:2375

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
