[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

### Pulumi

# pulumi - imperativ infrastructure delaration using python
pulumi = ">=3.0.0,<4.0.0"

pulumi-command = "*"
pulumi-docker = "*"
pulumi-keycloak = "*"
pulumi-libvirt = "*"
pulumi-postgresql = "*"
pulumi-random = "*"
pulumi-tls = "*"
pulumiverse_time = "*"
pulumiverse_purrl = "*"

# pulumi-cloudinit = "*"
# pulumi-github = "*"
# pulumi-hcloud = "*"
# pulumi-minio = "*"
# pulumi-vault = "*"
# pulumi-acme = "*"
# pulumi-gandi = "*"
# pulumiverse-sentry = "*"


### Tools

# yaml handling
pyyaml = "*"

# templating library
jinja2 = "*"

# saltstack - local build dependencies
salt = "*"

# use this venv as jupyter kernel (needs ipykernel installed)
ipykernel = "*"

# have ipython tinkering available
ipython = "*"

# pre commit checks
pre-commit = "*"

# phao-mqtt - mqtt library for publish and subscribe to mqtt messages
paho-mqtt = "*"

# Python implementation of Pulumi passphrase encryption and decryption
pulumi-crypto = {url = "https://github.com/sammck/pulumi-crypto/archive/refs/tags/v1.1.0.tar.gz"}

# serve_once.py
# cryptography - provides cryptographic recipes and primitives in python
cryptography = "*"

# port_forward.py
# NAT-PMP - Provides functions to interact with NAT-PMP version 0 draft specification gateways
NAT-PMP = "*"

## homeassistant kernel
hass-pyscript-kernel = "*"


### Docs

# mkdocs - Project documentation with Markdown
mkdocs = "*"

# A Mermaid graphs plugin for MkDocs
mkdocs-mermaid2-plugin = "*"

# Python implementation of Lunr.js (for mkdocs)
lunr = "*"

# MkDocs plugin to add a last updated date to your site
mkdocs-git-revision-date-localized-plugin = "*"

# Plugin to generate a single PDF file from a MkDocs
mkdocs-with-pdf = "*"

# MkDocs plugin to automagically generate relative links
mkdocs-ezlinks-plugin = "*"

# Open source plugin for Mkdocs page redirects
mkdocs-redirects = "*"

# Material design theme for MkDocs
mkdocs-material = "*"

# Markdown extension resources for MkDocs Material
mkdocs-material-extensions = "*"

# MkDocs Material additions used for pymdownx
mkdocs_pymdownx_material_extras = "*"


[dev-packages]

[requires]
python_version = "3.11"
