[Unit]
Description=Tang Server
Wants=network-online.target container-build@%N.service container-secrets.service
After=network-online.target container-build@%N.service container-secrets.service

[Container]
Image=localhost/%N:latest
# EnvironmentFile=/etc/containers/environment/%N.env

Volume=tang.volume:/db

Label=traefik.enable=true
# use default available env var "hostname" from frontend
Label=traefik.http.routers.%N.rule=Host(`${HOSTNAME}`)
Label=traefik.http.routers.%N.entrypoints=https
# secure our tang behind mandatory mutal TLS authentification
Label=traefik.http.routers.%N.tls.options=mtls@file
# becaue container exposes only one port traefik will auto find it
# Label=traefik.http.services.%N.loadbalancer.server.port=9090"

[Service]
# environment loaded here is available for systemd-quadlet scope, eg. HOSTNAME in Label
EnvironmentFile=/etc/containers/environment/%N.env
Restart=on-failure

[Install]
WantedBy=multi-user.target
