[Unit]
Description=Tang Service
Wants=network-online.target container-build@%N.service container-secrets.service
After=network-online.target container-build@%N.service container-secrets.service

[Container]
Image=localhost/%N:latest
Volume=tang.volume:/var/db/tang

# environment loaded here is available for container scope, mind quadlet bug "=-"
# EnvironmentFile=/etc/containers/environment/%N.env

HealthStartPeriod=5s
HealthTimeout=3s
HealthCmd=wget -qSO /dev/null http://127.0.0.1:9090/adv

# frontend config
Label=traefik.enable=true

# make service available on https port
# do mandatory mutal TLS authentification, needs matching hostname
Label=traefik.http.routers.%N.entrypoints=https
Label=traefik.http.routers.%N.rule=Host(`${HOSTNAME}`)
Label=traefik.http.routers.%N.tls.options=mtls@file
Label=traefik.http.routers.%N.middlewares=mtls-passtlsclientcert@file

# make service available on tang-mtls port, do mtls, ignoring send hostname
Label=traefik.http.routers.%N-direct.entrypoints=tang-mtls
Label=traefik.http.routers.%N-direct.rule=PathPrefix(`/`)
Label=traefik.http.routers.%N-direct.tls.options=mtls-nosni@file
Label=traefik.http.routers.%N-direct.middlewares=mtls-passtlsclientcert@file

[Service]
# environment loaded here is available in systemd-quadlet scope
EnvironmentFile=-/etc/containers/environment/%N-systemd.env
Restart=on-failure

[Install]
WantedBy=multi-user.target
