[Unit]
Description=Tang Server
Wants=network-online.target container-build@%N.service container-secrets.service
After=network-online.target container-build@%N.service container-secrets.service

[Container]
Image=localhost/%N:latest
Volume=tang.volume:/var/db/tang
# EnvironmentFile=/etc/containers/environment/%N.env

HealthStartPeriod=5s
HealthTimeout=3s
HealthCmd=wget -qSO /dev/null http://127.0.0.1:9090/adv

# frontend config
Label=traefik.enable=true

# make tang available on tang_mtls port, do mtls without sni
# secure our tang behind mandatory mutal TLS authentification
Label=traefik.http.routers.%N_direct.entrypoints=tang_mtls
Label=traefik.http.routers.%N_direct.rule=PathPrefix(`/`)

# make tang available on https port, do mtls, needs matching hostname
Label=traefik.http.routers.%N.entrypoints=https
Label=traefik.http.routers.%N.rule=Host(`${HOSTNAME}`)
# secure our tang behind mandatory mutal TLS authentification
Label=traefik.http.routers.%N.tls.options=mtls@file


[Service]
# environment loaded here is available for systemd-quadlet scope, eg. HOSTNAME in Label
EnvironmentFile=/etc/containers/environment/%N.env
Restart=on-failure

[Install]
WantedBy=multi-user.target
