[Unit]
Description=Build Compose Container for %I
After=podman.service
Wants=podman.service compose-build@%i.path
ConditionPathExists=/etc/compose/build/%i/compose.yml
StartLimitIntervalSec=0
StartLimitBurst=5

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=COMPOSE_BUILD_OPTIONS=
Environment=DOCKER_HOST=unix:///run/podman/podman.sock
WorkingDirectory=/etc/compose/build/%i
ExecStart=/usr/bin/podman-compose -f compose.yml build $COMPOSE_BUILD_OPTIONS

[Install]
WantedBy=multi-user.target
