[Unit]
Description=Build Container for %I
After=network-online.target
Wants=network-online.target
# wait until unbound is active
After=dns-is-ready.service
Requires=dns-is-ready.service

ConditionPathExists=/etc/containers/build/%i/Containerfile
StartLimitIntervalSec=0
StartLimitBurst=5

[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=%N
Environment=PODMAN_BUILD_OPTIONS=
WorkingDirectory=/etc/containers/build/%i
ExecStartPre=echo "PODMAN_BUILD_OPTIONS: ${PODMAN_BUILD_OPTIONS}"
ExecStart=/usr/bin/bash -c '/usr/bin/podman build ${PODMAN_BUILD_OPTIONS} --tag localhost/%i:latest .'

[Install]
WantedBy=multi-user.target
