[Unit]
Description=Load Podman Container Secrets
# ConditionPathExists=/etc/containers/environment/%N.env

[Service]
Type=oneshot
RemainAfterExit=yes
# EnvironmentFile=/etc/containers/environment/%N.env
# import all /etc/credstore/ credentials as podman secrets
ExecStart=/usr/bin/bash -c 'set -eo pipefail; \
    for secret_file in /etc/credstore/*; do \
        secret_name="$(basename $secret_file)"; \
        flag_file="/etc/local/flags/containers_$secret_name.stamp"; \
        if test "$secret_file" -nt "$flag_file"; then \
            if podman secret exists "$secret_name"; then \
                podman secret rm "$secret_name"; \
            fi; \
            podman secret create "$secret_name" "$secret_file"; \
            touch "$flag_file"; \
        fi; \
    done'

[Install]
WantedBy=multi-user.target
