[Unit]
Description=Load Podman Container Secrets
ConditionPathExists=/etc/local/environment/%N.env

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/locals/environment/%N.env

# Import entries listed in env PODMAN_LOAD_SECRETS from /etc/credstore/ as podman secrets
ExecStart=/usr/bin/bash -c 'set -eo pipefail; \
    for secret_name in "${PODMAN_LOAD_SECRETS}"; do \
        secret_file="/etc/credstore/$secret_name"; \
        flag_file="/etc/local/flags/containers_$secret_name.stamp"; \
        if test "$secret_file" -nt "$flag_file"; then \
            if podman secret exists "$secret_name"; then \
                podman secret rm "$secret_name"; \
            fi; \
            podman secret create "$secret_name" "$secret_file"; \
            touch "$flag_file"; \
        fi; \
    done'

[Install]
WantedBy=multi-user.target
