[Unit]
Description=Unbound recursive Domain Name Server
After=network-online.target
After=unbound-keygen.service
Wants=unbound-keygen.service
After=unbound-anchor.service
Wants=unbound-anchor.service
Before=nss-lookup.target
Wants=nss-lookup.target
# wait until internal bridge is online
After=sys-subsystem-net-devices-internal.device
Wants=sys-subsystem-net-devices-internal.device
# also, as unbound is not part of base image, wait until the binary is available
ConditionPathExists=/usr/sbin/unbound
# also, our anchor file must exist
ConditionPathExists=/etc/local/ksk-anchor-internal.key

[Service]
Type=simple
Restart=on-failure
EnvironmentFile=-/etc/local/environment/%N
WorkingDirectory=/var/lib/unbound

ExecStartPre=/usr/sbin/unbound-checkconf
ExecStart=/usr/sbin/unbound -d

# set system DNS to self.internal, ignore auto supplied DNS
ExecStartPost=/usr/bin/bash -c 'set -eo pipefail; \
GW_DEV=$(ip route | grep default | sed -r "s/([^ ]+ ){4}([^ ]+) .+/\\2/g"); \
DNS_CURRENT=$(nmcli -t -g IP4.DNS dev show | grep -v "^$"); \
DNS_SELF="{{ INTERNAL_CIDR|cidr2ip }}"; \
echo "Unbound ExecStartPost: GW_DEV=$GW_DEV, DNS_CURRENT=$DNS_CURRENT, DNS_SELF=$DNS_SELF"; \
if test "$DNS_CURRENT" != "$DNS_SELF"; then \
    echo "set dns to self.internal"; \
    nmcli device modify "$GW_DEV" ipv4.dns "$DNS_SELF"; \
    nmcli device modify "$GW_DEV" ipv4.ignore-auto-dns yes; \
    DNS_CURRENT=$(nmcli -t -g IP4.DNS dev show | grep -v "^$"); \
    echo "status: GW_DEV=$GW_DEV, DNS_CURRENT=$DNS_CURRENT"; \
fi'

# restore auto supplied system DNS to initial settings
ExecStopPost=/usr/bin/bash -c 'set -eo pipefail; \
GW_DEV=$(ip route | grep default | sed -r "s/([^ ]+ ){4}([^ ]+) .+/\\2/g"); \
DNS_CURRENT=$(nmcli -t -g IP4.DNS dev show | grep -v "^$"); \
echo "Unbound ExecStopPost: GW_DEV=$GW_DEV, DNS_CURRENT=$DNS_CURRENT"; \
echo "settings dns back to initial"; \
nmcli device modify "$GW_DEV" ipv4.ignore-auto-dns no; \
nmcli device modify "$GW_DEV" IPV4.DNS ""; \
DNS_CURRENT=$(nmcli -t -g IP4.DNS dev show | grep -v "^$"); \
echo "status: GW_DEV=$GW_DEV, DNS_CURRENT=$DNS_CURRENT"; \
'

[Install]
WantedBy=multi-user.target

